<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Prediction</title>
</head>

<body>
    <h1>
        <div style="text-align:center">
            <font color="blue">Sales prediction</font>
        </div>
    </h1>
    <hr>
    </br>
    <h2>
        <div style="text-align:center">Enter the values for ID, Shop_ID, Item_ID.
        </div>
    </h2>
    </br>
    <div class='container'>
        <div class='row'>
            <div class='col-6'>
                <form method="POST" action="/predict">
                    <div class="form-group">
                        <label for="ID">
                            <p class="font-weight-bold">ID</p>
                        </label>
                        <input type="text" name="ID">

                    </div>

                    <div class="form-group">
                        <label for="Shop_ID">
                            <p class="font-weight-bold">Shop_ID</p>
                        </label>
                        <input type="text" name="Shop_ID">

                    </div>

                    <div class="form-group">
                        <label for="Item_ID">
                            <p class="font-weight-bold">Item_ID</p>
                        </label>
                        <input type="text" name="Item_ID">

                    </div>



                    <input class='btn btn-primary' type='submit' value='Submit'>
                </form>

            </div>
        </div>
    </div>
</body>

</html>